
/* оформление заголовка cайта */
.head
{
font-size:1.4em;
font-weight: bold;
color: WHITE;
margin: 10px ;
}

/* оформление блоков */

.bloginfo 
{
 background: #020305;
 border: 1px solid #000000;
 padding: 3px 5px 3px 5px;
 margin: 10px;
 text-align: justify;
 border-radius: 5px;
}
/* оформление заголовка блока */
.bloginfo-head {
    font-size:1.4em;
    font-weight: bold;
    color: WHITE;
   margin: 0 0 5px 0;
}
/* оформление текста блока */
.bloginfo-txt {
    line-height: 1.3em;
    color:#1E90FF;
   font-size:14px;
 }

/* цвет ссылок */

a:link {
  color: WHITE; 
  
}
a:visited {
  color: WHITE;
}
a:hover {
  color: WHITE; 
 
}
a:active {
  color: WHITE; 
  border-bottom: 1px dashed;
}


html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.6fr 0.4fr;

}

.n1 { grid-area: 2 / 1 / 3 / 2;

background: #182b39;

 }

.n2 { grid-area: 3 / 1 / 4 / 2; 

background: #182b39;
}

.n3 { grid-area: 4 / 1 / 5 / 2; 

background: #182b39;
}

.header { 
grid-area: 1 / 1 / 2 / 5;

border-bottom: 10px solid #1E90FF;
position: relative;
background:url(https://sun2.48276.userapi.com/oxHuavjr83A-EEZ0-cGVfHoQuCpEV2gcN8qwZw/fDhkjyvLuck.jpg) no-repeat;
background-size: cover;
width: 99,9%;

 }

.main { grid-area: 2 / 2 / 5 / 5; 

background: rgb(30,144,255);
background: linear-gradient(0deg, rgba(30,144,255,0.5071654587649228) 2%, rgba(2,1,4,1) 50%);

}

.footer 
{ grid-area: 5 / 1 / 6 / 5; 
border-top: 10px solid #1E90FF;
position: relative;
background: BLACK;
}

/* Smartphones (вертикальная и горизонтальная) ----------- */

@media only screen and (min-width: 350px) and (max-width: 641px) 
{
  .grid-container {
    grid-template-columns: 1fr;
  }


.footer
{
  display: none;
}

.main
{
  display: none;
}




}
